*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Salsa', cursive;
  }

.mainRes{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #3C9BF2;
  position: absolute;
}

.disResBox{
    height: 400px;
    width: 500px;
    background-color: #FFC10F;
    border: 3px black solid;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 12px;
    color: white;
}

.disResBox>h1{
  font-size: 80px;
  margin-top: 20px;
  margin-bottom: 5px;
}

.disResBox>p{
  font-size: 40px;
  margin: 5px;
}

.resButton{
  padding: 5px;
  margin: 10px;
  width: 200px;
  height: 50px;
  background-color: #43DD65;
  border-radius: 10px;
  border-top: 1px solid #000;
  border-right: 6px solid #000;
  border-bottom: 6px solid #000;
  border-left: 1px solid #000;
  color: black;
  font-size: 20px;
  cursor: pointer;
}

.resButton:hover{
  background-color: #029923;
}